footer {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.281);
}

span {
    text-align: center;
    color: aquamarine;
}